--extra-index-url https://download.pytorch.org/whl/cu118
torch==2.3.*
torchaudio
torchvision
torch-utils
numpy==1.*
cuda-python==11.8
hydra-core
icecream
opt-einsum
dgl @ file://./include/dgl/dgl-2.4.0+cu118-cp310-cp310-manylinux1_x86_64.whl
e3nn
pyrsistent
biotite==1.1.*
pytest>=8.0.0
pandas
